<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.laughcraft.android.myreader">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<application
		android:allowBackup="true"
		android:icon="@mipmap/icon_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/icon_launcher_round"
		android:supportsRtl="true"
		android:name=".XReader"
		android:theme="@style/Theme.AlphaReader">
		<activity
			android:name=".ui.activity.MainActivity"
			android:exported="true"
			android:windowSoftInputMode="adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				
				<data android:scheme="content" />
				<data android:mimeType="*/*" />
				<data
					android:host="*"
					android:scheme="file"/>
				
				<data android:pathPattern=".*\\.pdf" />
				<data android:pathPattern=".*\\.docx" />
				<data android:pathPattern=".*\\.xlsx" />
				<data android:pathPattern=".*\\.txt" />
				<data android:pathPattern=".*\\.fb2" />
				<data android:pathPattern=".*\\.epub" />
				<data android:pathPattern=".*\\.html" />
				<data android:pathPattern=".*\\.xhtml" />
				<data android:pathPattern=".*\\.djvu" />
				<data android:pathPattern=".*\\.png" />
				<data android:pathPattern=".*\\.jpg" />
				<data android:pathPattern=".*\\.jpeg" />
				<data android:pathPattern=".*\\.bmp" />
			</intent-filter>
			
		</activity>
		
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths" />
		</provider>
	</application>

</manifest>